@import "~bootstrap/dist/css/bootstrap.min";
@import "~bootstrap-icons/font/bootstrap-icons.css";

body {
    background: linear-gradient(45deg, #fff 12.5%, #eee 12.5%, #eee 37.5%, #fff 37.5%, #fff 62.5%, #eee 62.5%, #eee 87.5%, #fff 87.5%);
    background-size: 100px 100px;
    background-position: 50px 50px;

}

.aligned-container {
    width: 100%;
    height: 35px;
    text-align: center;
}

.aligned-left {
    float: left;
    width: 70px;
}

.aligned-center {
    display: inline-block;
    margin:0 auto;
    width:70px;
}

.aligned-right {
    float:right;
    width:70px;
}

.navi-row {
    /* background-color: white; */
    border-bottom: 1px solid black;
}

.container-fluid {
    margin-right: auto;
    margin-left: auto;
    max-width: 1600px;
    /* or 950px */
}


.playing-card {
    display: inline-block;
    width: 5vh;
    height: 9vh;
    border: 1px solid #666;
    border-radius: .3em;
    -moz-border-radius: .3em;
    -webkit-border-radius: .3em;
    -khtml-border-radius: .3em;
    padding: .5em;
    margin: 0 .5em .5em 0;
    text-align: center;
    font-size: 2vh;
    /* @change: adjust this value to make bigger or smaller cards */
    font-weight: bolder;
    position: relative;
    background-color: #fff;
    -moz-box-shadow: .1em .1em .3em #333;
    -webkit-box-shadow: .1em .1em .3em #333;
    box-shadow: .1em .1em .3em #333;
}

/**
 * ==============================================
 * Dot Elastic
 * ==============================================
 */
 .dot-elastic {
    position: relative;
    width: 10px;
    height: 10px;
    border-radius: 5px;
    background-color: #9880ff;
    color: #9880ff;
    animation: dotElastic 1s infinite linear;
  }
  
  .dot-elastic::before, .dot-elastic::after {
    content: '';
    display: inline-block;
    position: absolute;
    top: 0;
  }
  
  .dot-elastic::before {
    left: -15px;
    width: 10px;
    height: 10px;
    border-radius: 5px;
    background-color: #9880ff;
    color: #9880ff;
    animation: dotElasticBefore 1s infinite linear;
  }
  
  .dot-elastic::after {
    left: 15px;
    width: 10px;
    height: 10px;
    border-radius: 5px;
    background-color: #9880ff;
    color: #9880ff;
    animation: dotElasticAfter 1s infinite linear;
  }
  
  @keyframes dotElasticBefore {
    0% {
      transform: scale(1, 1);
    }
    25% {
      transform: scale(1, 1.5);
    }
    50% {
      transform: scale(1, 0.67);
    }
    75% {
      transform: scale(1, 1);
    }
    100% {
      transform: scale(1, 1);
    }
  }
  
  @keyframes dotElastic {
    0% {
      transform: scale(1, 1);
    }
    25% {
      transform: scale(1, 1);
    }
    50% {
      transform: scale(1, 1.5);
    }
    75% {
      transform: scale(1, 1);
    }
    100% {
      transform: scale(1, 1);
    }
  }
  
  @keyframes dotElasticAfter {
    0% {
      transform: scale(1, 1);
    }
    25% {
      transform: scale(1, 1);
    }
    50% {
      transform: scale(1, 0.67);
    }
    75% {
      transform: scale(1, 1.5);
    }
    100% {
      transform: scale(1, 1);
    }
  }