@import "~bootstrap/dist/css/bootstrap.min";
@import "~bootstrap-icons/font/bootstrap-icons.css";

.container-fluid {
    margin-right: auto;
    margin-left: auto;
    max-width: 1600px;
    /* or 950px */
}

.playing-card {
    display: inline-block;
    width: 6vh;
    height: 10vh;
    border: 1px solid #666;
    border-radius: .3em;
    -moz-border-radius: .3em;
    -webkit-border-radius: .3em;
    -khtml-border-radius: .3em;
    padding: .5em;
    margin: 0 .5em .5em 0;
    text-align: center;
    font-size: 2vh;
    /* @change: adjust this value to make bigger or smaller cards */
    font-weight: bolder;
    position: relative;
    background-color: #fff;
    -moz-box-shadow: .1em .1em .3em #333;
    -webkit-box-shadow: .1em .1em .3em #333;
    box-shadow: .1em .1em .3em #333;
}